@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --blue-100: #dfe3fa;
  --blue-600: #7e88c3;
  --dark-300: #1e2139;
  --dark-400: #141625;
  --dark-900: #0c0e16;
  --white: #ffffff;
  --light: #f8f8f8;
}

.light {
  --color-primary-bg: var(--light);
  --color-primary-light: var(--white);
  --font-primary: var(--dark-900);
  --font-secondary: var(--blue-600);
}
.dark {
  --color-primary-bg: var(--dark-400);
  --color-primary-light: var(--dark-300);
  --font-primary: var(--white);
  --font-secondary: var(--blue-100);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl tracking-wider font-bold leading-6 md:text-3xl md:leading-9 text-fontPrimary transition;
  }
  ,
  p {
    @apply text-xs font-medium tracking-wider leading-4 text-fontSecondary transition;
  }
  ,
  h3 {
    @apply text-xs font-bold leading-4 tracking-tight text-fontPrimary transition;
  }
}

@layer components {
  .focus {
    @apply focus:outline-none focus-visible:ring-2 ring-blue-500;
  }
  .box {
    @apply mt-28 max-w-90vw mx-auto  md:w-full md:max-w-3xl md:mt-20 md:px-4 md:h-full;
  }
}
